@model List<RentACarProject.Models.Araclar>

@{
    ViewBag.Title = "Araç Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<a href="/AracEkle/AracEkle">
    <div class="btn-aracYonlen">
        <span>Araç Ekle</span>
    </div>
</a>


    <table border="1" cellpadding="2" cellspacing="2" style="border: 2px solid #ccc; overflow-y: scroll">
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Yakıt Tipi</th>
            <th>Renk</th>
            <th>Vites Tipi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.aracID</td>
                <td>@item.aracMarka</td>
                <td>@item.aracModel</td>
                <td>@item.aracYakitTipi</td>
                <td>@item.aracRenk</td>
                <td>@item.aracVitesTipi</td>
            </tr>
        }

    </table>

