@model List<RentACarProject.Models.Araclar>
@{
    ViewBag.Title = "FiltreAndList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />


    @using (Html.BeginForm())
    {
       
            <p style="background-color: #ccc;">
                Filtre: Araç Marka, Model, Yakı Tipi: @Html.TextBox("SearchString")
                <input type="submit" value="Arama" class="btn-arama" />
            </p>
        
    }

    <br />
    <br />
    <table border="1" cellpadding="2" cellspacing="2" style="border: 2px solid #ccc;">
        <tr>
            <th>Araç Id</th>
            <th>
                @Html.ActionLink("Marka", "Index", new { sortOrder = ViewBag.MarkaSortParm })
            </th>
            <th>
                @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm })
            </th>
            <th>
                @Html.ActionLink("Yakıt Tipi", "Index", new { sortOrder = ViewBag.YakitTipiSortParm })
            </th>
            <th>Renk</th>
            <th>Vites Tipi</th>
            <th>Yönet</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.aracID</td>
                <td>@item.aracMarka</td>
                <td>@item.aracModel</td>
                <td>@item.aracYakitTipi</td>
                <td>@item.aracRenk</td>
                <td>@item.aracVitesTipi</td>
                <td>
                        /  @Html.ActionLink("Rezervasyon", "Yeni", "Rezervasyon", new { aracId = item.aracID }, new { @id = "txtaracid", @style = "color: #0099CC; text-decoration: solid;" })
                </td>
            </tr>
        }

    </table>
